		<div class="content-wrapper" ng-controller="RecipeFormCtrl">
			<h2 ng-show="isNew">Create new recipe:</h2>
			<h2 ng-show="!isNew">Edit recipe:</h2>
			<article class="create-recipe clearfix">
				<form id="create-recipe" ng-submit="persistRecipe()">
					Title:<br>
					<input type="text" id="name" name="title" ng-model="recipe.name"><br>
					<p class="error"><span class="error-message">Title must be unique!</span></p>
					<p class="error"><span class="error-message">Required!</span></p>
					Author:<br>
					<input type="text" id="author" name="author" ng-model="recipe.author"><br>
					<p class="error"><span class="error-message">Required!</span></p>
					Short description:<br>
					<textarea id="short-description" name="short-description" rows="10" cols="30"  ng-model="recipe.shortDescription">
					</textarea><br>
					<p class="error"><span class="error-message">Max 120 characters!</span></p>
					
					Ingredients:<br>
					<form name="ingredientForm">
						<div id="add-ingredients"> 
						Count: <input type="number" id="add-ingredient" ng-model="newIngredient.count"> Name: <input type="text" ng-model="newIngredient.name"><br>
						</div>
						<p class="error"><span class="error-message">Define at least one ingredient!</span></p>
						<button type="button" name="add-ingredient" ng-click="addIngredient(ingredientForm)">Add ingredient</button><br>
					</form>
					<recipe-ingredient ng-repeat="ingredient in recipe.ingredients"></recipe-ingredient>
					Description:<br>
					<textarea id="description" name="description" rows="20" cols="30" ng-model="recipe.description"></textarea><br>
					<p class="error"><span class="error-message">Max 500 characters!</span></p>
					<button type="submit" form="create-recipe" id="recipe-submit" name="recipe-submit">Submit</button>
				</form>
			</article>
		</div>
	</body>
</html>