<article class="recipe-preview clearfix">
	<div class="thumbnail-wrapper">
		<a href="recipe.html">
			<div class="thumbnail" style="background-image:url('{{recipe.image}}');">
			</div>
		</a>
	</div>
	<div class="text-wrapper">
		<h3><a href="recipe.html">{{recipe.name}}</a></h3>
		<p class="info"><time datetime="{{recipe.datetime}}">{{recipe.datetime}}</time> by <span class="author">{{recipe.author}}</span> | User rating: <span class="rating">{{recipe.rating}}</span> | Comments: <span class="number-of-comments">{{recipe.comments.length}}</span></p>
		<p class="short-description">
		{{recipe.shortDescription}}
		</p>
		<p class="actions">
			<a href="" ng-href="#recipes/{{recipe.id}}" class="button">Read more</a>
			<span class="button" ng-click="recipeCtrl.increaseRating(recipe)">Rating +1</span>
		</p>
	</div>
</article>	